<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= workout.date %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= workout.level %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= workout.program_id %>
  </p>

</div>
