<div id="<%= dom_id program %>">
  <p>
    <strong>Name:</strong>
    <%= program.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= program.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= program.duration %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= program.tenant_id %>
  </p>

</div>
