<div id="<%= dom_id coach %>">
  <p>
    <strong>Name:</strong>
    <%= coach.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= coach.phone_number %>
  </p>

  <p>
    <strong>Authorized:</strong>
    <%= coach.authorized %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= coach.tenant_id %>
  </p>

</div>
